.board {
	display: grid;
	
	/* padding: 0.5em; */
	
	height: 80%;
}

.board-drums {
	grid-template-columns: 33.3% 33.3% 33.3%;
}

.board-synth {
	grid-template-columns: 25% 25% 25% 25%;
}


.key {
	display: flex;
	align-items: flex-end;
	
	margin: 0.3em 0.3em;
	padding-top: 50%;
	padding-bottom: 0.3em;
	padding-left: 0.3em;
	background: #bdbbbb;
	color: #dbdbdb;
	text-shadow: 0px 1px 0px #a8a8a8;
	border-bottom: 2px solid #8a8888;
	border-left: 2px solid #8a8888;
	border-radius: 3px;
}

.key-modeSwitcher {
	
	display: flex;
	flex-direction: column;
	align-content: space-between;
	
	padding: 0.3em;
	margin-right: 0.3em;
	background: #bdbbbb;
	color: #dbdbdb;
	text-shadow: 0px 1px 0px #a8a8a8;
	border-bottom: 2px solid #8a8888;
	border-left: 2px solid #8a8888;
	border-radius: 3px;
}

.key-active {
	background: #8a8888;
	border-top: 2px solid #ef7508;
	border-right: 2px solid #ef7508;
	border-bottom: none;
	border-left: none;
}

.modeSelector li {
	list-style-type: none;
}

.modeSelectorLED {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}